.book__header{
    margin: 20px 0;
}

.book__title{
    font-size: var(--hedear-font-size);
    font-weight: bold;
    margin-bottom: 10px;
}

.book__authors{
    font-size: var(--small-font-size);
    color: var(--blue);
}

.book__details{
    display: flex;
    margin-bottom: 40px;
}

.details__img{
    margin-bottom: 20px;
}

.img__value{
    max-height: 400px;
    height: 100%;
}

.description__value{
    font-size: var(--small-font-size);
    white-space: pre-wrap;
    margin-bottom: 40px;
}

.details__attributes{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.attributes__row{
    display: flex;
    margin: 10px 0;
}

.attributes__col{
    font-size: var(--small-font-size);
    flex: 1;
}

.attributes__text{
    font-size: var(--small-font-size);
}

.genre__value{
    margin-bottom: 20px;
}

.details__header{
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
}

.details__price{
    font-size: var(--hedear-font-size);
    font-weight: bold;
    margin-bottom: 10px;
}

.details__rating{
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.rating__star{
    height: 30px;
    width: 30px;
    display: flex;
}

.rating__star svg{
    align-self: center;
}

.details__button{
    width: 100%;
}

.details__col:first-child{
    margin-right: 50px;
}

.reviews__header{
    font-size: var(--hedear-font-size);
    font-weight: bold;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.review{
    padding: 30px;
    background-color: #edffec;
    margin-bottom: 20px;
}

.review__header{
    font-size: var(--font-size);
    font-weight: bold;
    margin-bottom: 10px;
}

.review__author{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.author__text{
    font-size: var(--small-font-size);;
    opacity: 0.5;
}

.review__rating{
    height: 24px;
    display: flex;
    align-items: center;
    font-size: var(--font-size);
    margin-bottom: 20px;
}

.review-rating__value{
    margin-right: 5px;
}

.review__button{
    width: 20%;
}

@media screen and (max-width: 900px){
    .details__col.book{
        width: 200px;
    }
    .img__value{
        height: 300px;
    }
}

@media screen and (max-width: 700px){
    .book__details{
        flex-direction: column;
    }
    .details__col.book{
        margin-bottom: 10px;
        width: 260px;
        margin-right: 0;
    }
    .img__value{
        height: 400px;
    }
    .rating__star svg{
        height: 20px;
    }
}