.card{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.card__image{
    margin-bottom: 5px;
}

.image__value{
    height: 300px;
}

.card__price{
    margin: 15px 0;
    font-weight: bold;
}

.card__title{
    margin-bottom: 5px;
    transition: 0.2s;
}

.card__title:hover{
    color: var(--blue);
}

.card__rating{
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.rating__star{
    align-content: center;
}

.rating__star > svg{
    height: 22px;
}

.card__authors{
    margin-bottom: 20px;
    font-size: 16px;
    flex: 1;
    color: #999;
}

.number_of_ratings__value{
    margin-left: 4px;
    opacity: 0.5;
}

.card__link{
    text-decoration: none;
    color: black;
}
