.card{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 0 1rem;
    width: 25%;
}

.card__image{
    margin-bottom: 5px;
}

.image__value{
    width: 100%;
}

.card__price{
    margin: 15px 0;
    font-weight: bold;
}

.card__title{
    margin-bottom: 5px;
    transition: 0.2s;
}

.card__title:hover{
    color: var(--blue);
}

.card__rating{
    display: flex;
    align-items: center;
    font-size: var(--small-font-size);
    margin-bottom: 10px;
    justify-content: space-between;
}

.rating__star{
    align-content: center;
}

.rating__star > svg{
    height: 22px;
}

.card__authors{
    margin-bottom: 20px;
    font-size: var(--small-font-size);
    flex: 1;
    color: #999;
}

.number_of_ratings__value{
    margin-left: 4px;
    opacity: 0.5;
}

.card__link{
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 1200px) {
    .card{
        width: 25%;
    }
}

@media screen and (max-width: 992px) {
    .card{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 767px) {
    .card{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 500px) {
    .card{
        width: 50%;
        margin-bottom: 30px;
    }
    .rating__star svg{
        height: 16px;
    }
}