.catalog{
    position: absolute;
    top: 0;
    left: -200%;
    background-color: white;
    width: 400px;
    height: 100%;
    transition: 0.4s;
    z-index: 10;
    padding: 20px;
    box-sizing: border-box;

}

.catalog.active{
    left: 0;
}

.catalog__title{
    font-weight: bold;
    font-size: var(--hedear-font-size);
    margin-bottom: 20px;
    margin-left: 20px;
}

.catalog__items a:hover{
    color: black;
}

.catalog__item{
    padding: 20px;
    border-radius: 5px;
}

.catalog__item:hover{
    background-color: var(--light-blue);
}

.shading{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
    top: 0;
    left: 0;
    background-color: black;
}

.shading.active{
    display: block;
    animation: shade 0.2s linear forwards;
}

@keyframes shade{
    from {opacity: 0}
    to {opacity: 0.5}
}

@media screen and (max-width: 700px){
    .catalog.active{
        left: 0;
        width: 100%;
    }
    .catalog__title{
        margin-bottom: 5px;
    }
}