:root{
    --blue: #2c7edc;
    --dark-blue: #00499c;
    --darkest-blue: #003169;
    --light-blue: #ecf4fe;
    --main-width: 60%;
    --small-font-size: 16px;
    --font-size: 20px;
    --nav-fon-size: 24px;
    --hedear-font-size: 32px;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
}

html,body{
    height: 100%;
    width: 100%;
    font-size: var(--font-size);
    font-family: Inter, sans-serif;
}

.button{
    color: white;
    font-size: 20px;
    padding: 10px;
    background-color: #2c7edc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    font-family: inherit;
    font-weight: bold;
}

.button:hover{
    background-color: var(--dark-blue);
}

.button:active{
    background-color: var(--darkest-blue);
}

a{
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

a:hover{
    color: var(--blue);
}

.wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main{
    height: fit-content;
    flex: 1 0 auto;
    background-color: white;
    position: relative;
    z-index: 1;
}

.content{
    height: 100%;
    padding: 20px 0;
    width: var(--main-width);
    margin: 0 auto;
}

@media screen and (min-width: 100px){
    :root{
        --main-width: 90%;
        --small-font-size: 20px;
        --font-size: 24px;
        --nav-fon-size: 32px;
        --hedear-font-size: 40px;
    }
}

@media screen and  (min-width: 900px){
    :root{
        --main-width: 90%;
        --small-font-size: 16px;
        --font-size: 20px;
        --nav-fon-size: 24px;
        --hedear-font-size: 32px;
    }
}

@media screen and (min-width: 1400px){
    :root{
        --main-width: 70%;
        --small-font-size: 16px;
        --font-size: 20px;
        --nav-fon-size: 24px;
        --hedear-font-size: 32px;
    }
}

@media screen and (min-width: 1600px){
    :root{
        --main-width: 60%;
        --small-font-size: 16px;
        --font-size: 20px;
        --nav-fon-size: 24px;
        --hedear-font-size: 32px;
    }
}

@media screen and (min-width: 2000px){
    :root{
        --main-width: 60%;
        --small-font-size: 16px;
        --font-size: 20px;
        --nav-fon-size: 24px;
        --hedear-font-size: 32px;
    }
}

